name: Delete Old Images

on:
  schedule:
    - cron: '0 0 * * *'

env:
  CARGO_TERM_COLOR: always
  CARGO_INCREMENTAL: 1
  GH_TOKEN: ${{ secrets.GH_TOKEN }}

jobs:
  delete_old_images:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: Swatinem/rust-cache@v2
      - name: Build
        run: cargo build --release
      - name: Delete old images
        run: ./target/release/ghcr_delete_old_images
